body {
  margin:0px;
  background-image:url('../../images/登陆页面/bg.png');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-size:cover;
  position:relative;
  left:-205px;
  width:665px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u447_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:665px;
  height:342px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u447 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:141px;
  width:665px;
  height:342px;
}
#u447_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u448_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:666px;
  height:2px;
}
#u448 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:194px;
  width:665px;
  height:1px;
}
#u448_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u449_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u449 {
  border-width:0px;
  position:absolute;
  left:459px;
  top:151px;
  width:124px;
  height:27px;
  font-size:28px;
}
#u449_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  word-wrap:break-word;
}
#u450_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u450 {
  border-width:0px;
  position:absolute;
  left:431px;
  top:197px;
  width:164px;
  height:36px;
  font-size:16px;
}
#u450_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:160px;
  word-wrap:break-word;
}
#u451_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:35px;
}
#u451 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:241px;
  width:127px;
  height:35px;
  color:#FFFFFF;
}
#u451_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:123px;
  word-wrap:break-word;
}
#u452_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:35px;
}
#u452 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:297px;
  width:127px;
  height:35px;
  color:#FFFFFF;
}
#u452_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:123px;
  word-wrap:break-word;
}
#u453_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:35px;
}
#u453 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:352px;
  width:127px;
  height:35px;
  color:#FFFFFF;
}
#u453_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:123px;
  word-wrap:break-word;
}
#u454 {
  border-width:0px;
  position:absolute;
  left:405px;
  top:246px;
  width:300px;
  height:25px;
}
#u454_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u455 {
  border-width:0px;
  position:absolute;
  left:405px;
  top:302px;
  width:300px;
  height:25px;
}
#u455_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u456 {
  border-width:0px;
  position:absolute;
  left:405px;
  top:357px;
  width:300px;
  height:25px;
}
#u456_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u457_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u457 {
  border-width:0px;
  position:absolute;
  left:715px;
  top:302px;
  width:97px;
  height:25px;
}
#u457_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:93px;
  word-wrap:break-word;
}
#u458_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u458 {
  border-width:0px;
  position:absolute;
  left:721px;
  top:357px;
  width:91px;
  height:25px;
  color:#FF0000;
}
#u458_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:87px;
  word-wrap:break-word;
}
#u459_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u459 {
  border-width:0px;
  position:absolute;
  left:443px;
  top:412px;
  width:140px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u459_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:136px;
  word-wrap:break-word;
}
#u460_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u460 {
  border-width:0px;
  position:absolute;
  left:635px;
  top:66px;
  width:140px;
  height:40px;
}
#u460_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u461_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:90px;
}
#u461 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:41px;
  width:281px;
  height:90px;
}
#u461_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
