body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-231px;
  width:587px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u233_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:90px;
}
#u233 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:56px;
  width:281px;
  height:90px;
}
#u233_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u234_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:486px;
  height:2px;
}
#u234 {
  border-width:0px;
  position:absolute;
  left:231px;
  top:202px;
  width:485px;
  height:1px;
}
#u234_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u235_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u235 {
  border-width:0px;
  position:absolute;
  left:378px;
  top:170px;
  width:191px;
  height:27px;
  font-size:28px;
}
#u235_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  word-wrap:break-word;
}
#u236_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u236 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:203px;
  width:281px;
  height:49px;
  font-size:14px;
}
#u236_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:277px;
  word-wrap:break-word;
}
#u237_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:43px;
}
#u237 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:253px;
  width:118px;
  height:43px;
  color:#FFFFFF;
}
#u237_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:114px;
  word-wrap:break-word;
}
#u238_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:43px;
}
#u238 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:306px;
  width:118px;
  height:43px;
  color:#FFFFFF;
}
#u238_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:114px;
  word-wrap:break-word;
}
#u239_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:43px;
}
#u239 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:359px;
  width:118px;
  height:43px;
  color:#FFFFFF;
}
#u239_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:114px;
  word-wrap:break-word;
}
#u240 {
  border-width:0px;
  position:absolute;
  left:416px;
  top:262px;
  width:300px;
  height:25px;
}
#u240_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u241 {
  border-width:0px;
  position:absolute;
  left:416px;
  top:315px;
  width:300px;
  height:25px;
}
#u241_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u242 {
  border-width:0px;
  position:absolute;
  left:416px;
  top:368px;
  width:300px;
  height:25px;
}
#u242_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u243_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u243 {
  border-width:0px;
  position:absolute;
  left:726px;
  top:306px;
  width:92px;
  height:43px;
}
#u243_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:88px;
  word-wrap:break-word;
}
#u244_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u244 {
  border-width:0px;
  position:absolute;
  left:818px;
  top:314px;
  width:85px;
  height:28px;
  color:#FF0000;
}
#u244_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:81px;
  word-wrap:break-word;
}
#u245_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:43px;
}
#u245 {
  border-width:0px;
  position:absolute;
  left:482px;
  top:436px;
  width:118px;
  height:43px;
  color:#000000;
}
#u245_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:114px;
  word-wrap:break-word;
}
#u246_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:43px;
}
#u246 {
  border-width:0px;
  position:absolute;
  left:607px;
  top:103px;
  width:113px;
  height:43px;
}
#u246_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:109px;
  word-wrap:break-word;
}
