body {
  margin:0px;
  background-image:url('../../images/登陆页面/bg.png');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-size:cover;
  position:relative;
  left:-161px;
  width:620px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u11_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  text-align:center;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:149px;
  width:272px;
  height:33px;
  font-size:24px;
  text-align:center;
}
#u11_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  word-wrap:break-word;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:192px;
  width:620px;
  height:53px;
}
#u12_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:620px;
  height:53px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u13 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:620px;
  height:53px;
}
#u14_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:53px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:53px;
  font-size:16px;
  color:#FFFFFF;
}
#u14_img.mouseOver {
}
#u14.mouseOver {
}
#u14_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:203px;
  word-wrap:break-word;
}
#u15_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:53px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:207px;
  top:0px;
  width:207px;
  height:53px;
  font-size:16px;
  color:#FFFFFF;
}
#u15_img.mouseOver {
}
#u15.mouseOver {
}
#u15_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:203px;
  word-wrap:break-word;
}
#u16_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:53px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:414px;
  top:0px;
  width:206px;
  height:53px;
  font-size:16px;
  color:#FFFFFF;
}
#u16_img.mouseOver {
}
#u16.mouseOver {
}
#u16_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:202px;
  word-wrap:break-word;
}
#u17_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:43px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:617px;
  top:94px;
  width:113px;
  height:43px;
}
#u17_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:109px;
  word-wrap:break-word;
}
#u18_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:330px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:245px;
  width:377px;
  height:330px;
}
#u18_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:90px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:49px;
  width:281px;
  height:90px;
}
#u19_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:588px;
  top:147px;
  width:155px;
  height:29px;
}
#u20_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:151px;
  word-wrap:break-word;
}
