body {
  margin:0px;
  background-image:url('../../images/登陆页面/bg.png');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-size:cover;
  position:relative;
  left:-161px;
  width:620px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u188_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  text-align:center;
}
#u188 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:149px;
  width:272px;
  height:33px;
  font-size:24px;
  text-align:center;
}
#u188_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  word-wrap:break-word;
}
#u189 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:192px;
  width:620px;
  height:53px;
}
#u189_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:620px;
  height:53px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u190 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:620px;
  height:53px;
}
#u191_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:53px;
}
#u191 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:53px;
  font-size:16px;
  color:#FFFFFF;
}
#u191_img.mouseOver {
}
#u191.mouseOver {
}
#u191_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:203px;
  word-wrap:break-word;
}
#u192_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:53px;
}
#u192 {
  border-width:0px;
  position:absolute;
  left:207px;
  top:0px;
  width:207px;
  height:53px;
  font-size:16px;
  color:#FFFFFF;
}
#u192_img.mouseOver {
}
#u192.mouseOver {
}
#u192_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:203px;
  word-wrap:break-word;
}
#u193_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:53px;
}
#u193 {
  border-width:0px;
  position:absolute;
  left:414px;
  top:0px;
  width:206px;
  height:53px;
  font-size:16px;
  color:#FFFFFF;
}
#u193_img.mouseOver {
}
#u193.mouseOver {
}
#u193_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:202px;
  word-wrap:break-word;
}
#u194_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:43px;
}
#u194 {
  border-width:0px;
  position:absolute;
  left:617px;
  top:94px;
  width:113px;
  height:43px;
}
#u194_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:109px;
  word-wrap:break-word;
}
#u195_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:620px;
  height:499px;
}
#u195 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:245px;
  width:620px;
  height:499px;
  opacity:0.2;
}
#u195_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u196_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:90px;
}
#u196 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:51px;
  width:281px;
  height:90px;
}
#u196_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u197_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u197 {
  border-width:0px;
  position:absolute;
  left:588px;
  top:147px;
  width:155px;
  height:29px;
}
#u197_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:151px;
  word-wrap:break-word;
}
