body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-318px;
  width:489px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u212_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:90px;
}
#u212 {
  border-width:0px;
  position:absolute;
  left:413px;
  top:47px;
  width:281px;
  height:90px;
}
#u212_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u213_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:486px;
  height:2px;
}
#u213 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:193px;
  width:485px;
  height:1px;
}
#u213_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u214_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u214 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:161px;
  width:285px;
  height:27px;
  font-size:28px;
}
#u214_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  word-wrap:break-word;
}
#u215_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u215 {
  border-width:0px;
  position:absolute;
  left:485px;
  top:204px;
  width:122px;
  height:38px;
  font-size:16px;
}
#u215_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:118px;
  word-wrap:break-word;
}
#u216_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:45px;
}
#u216 {
  border-width:0px;
  position:absolute;
  left:413px;
  top:270px;
  width:99px;
  height:45px;
  color:#FFFFFF;
}
#u216_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:95px;
  word-wrap:break-word;
}
#u217_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:45px;
}
#u217 {
  border-width:0px;
  position:absolute;
  left:595px;
  top:270px;
  width:99px;
  height:45px;
  color:#FFFFFF;
}
#u217_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:95px;
  word-wrap:break-word;
}
#u218_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:43px;
}
#u218 {
  border-width:0px;
  position:absolute;
  left:694px;
  top:94px;
  width:113px;
  height:43px;
}
#u218_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:109px;
  word-wrap:break-word;
}
